In [126]:
import pandas as pd

In [127]:
df = pd. read_csv(r"\\192.168.102.10\ds\ML DATASETS\titanic_dataset.csv")

In [128]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [129]:
inputs = df[['Pclass', 'Sex', 'Age', 'Fare']]

In [130]:
targets = df[['Survived']]

In [131]:
inputs.head(0)

Empty DataFrame
Columns: [Pclass, Sex, Age, Fare]
Index: []

In [132]:
targets.head(3)

   Survived
0         0
1         1
2         1

In [133]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [134]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [135]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [136]:
inputs.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    2  38.000000  71.2833
2       3    2  26.000000   7.9250
3       1    2  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    2  27.000000  11.1333
9       2    2  14.000000  30.0708

In [137]:
import numpy as np

In [138]:
inputs['Age'] = np.round(inputs['Age'], decimals=0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [139]:
inputs.head(10)

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500
5       3    1  30.0   8.4583
6       1    1  54.0  51.8625
7       3    1   2.0  21.0750
8       3    2  27.0  11.1333
9       2    2  14.0  30.0708

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
X_train, X_test, y_train, y_test = train_test_split(inputs, targets, test_size=0.4)

In [142]:
len(X_train)

534

In [143]:
len(X_test)

357

In [144]:
from sklearn.tree import DecisionTreeClassifier

In [145]:
model = DecisionTreeClassifier()

In [146]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [147]:
model.score(X_test,y_test)

0.74789915966386555

In [148]:
model.predict([[3,1,22.0,7.2500]])

array([0], dtype=int64)